.live {
  text-align: start;
}

.live p {
  margin-left: 30px;
  font-weight: 600;
}

.container img {
  width: 100%;
  border-radius: 20px;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  color: rgb(255, 255, 255);
  background-color: rgb(175, 174, 174);
}

.top-left {
  position: absolute;
  top: 8px;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left span {
  background-color: rgba(255, 0, 0, 0.726);
  border-radius: 25px;
  height: 20px;
  width: 40px;
  color: white;
  padding: 5px;
  font-size: 10px;
}
