.middle_feed {
  width: 70%;
  margin: 5% 0;
  padding: 1%;
}

.middle_feed .story .create_story {
  width: 110px;
  height: 200px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden;
}

.middle_feed .story .create_story .story_thumb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.middle_feed .story .create_story .story_thumb::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  z-index: 4;
}

.middle_feed .story .create_story .story_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.middle_feed .story .create_story .story_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.middle_feed .story .create_story .story_btn p {
  font-size: 12px;
}

.middle_feed .story .create_story .story_btn span {
  position: absolute;
  bottom: 120%;
  left: 46%;
  transform: translateX(-50%);
  background-color: #d09c34;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.middle_feed .story .other-story .story_profile span {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 4px solid #d09c34;
  z-index: 5;
  border-radius: 50px;
}

.middle_feed .story .other-story .story_name {
  position: absolute;
  left: 10%;
  bottom: 5px;
  text-align: left;
  width: 100%;
  z-index: 5;
  color: gray;
}

.middle_feed .story .other-story .story_name p {
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.middle_feed .story .create_story a:hover .story_thumb::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.middle_feed .story .create_story a:hover .story_thum img {
  transform: scale(1.05);
}

.story-list {
  display: flex;
  padding: 0;
  justify-content: center;
}

.story-list-other {
  display: flex;
  margin-left: 0;
}

.add-story-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.plus {
  width: 50%;
  margin-top: 5%;
}

.add-text {
  color: grey;
}
